@import "em";

.qr-code {
    border-bottom: 1px solid var(--support-8);

    @media (min-width: 768px) {
        border-right: 1px solid var(--support-8);
        border-bottom: 0;
    }
}

.login {
    width: 100%;
    text-align: center;

    @media (min-width: 768px) {
        width: 550px;
        text-align: left;
    }

    h3 {
        color: var(--fonts-high, #DFDFDF);
        font-size: to-em(30);
        font-weight: 700;
    }

    p {
        color: var(--emphasis-low);
        font-size: to-em(14);
        font-weight: 600;
    }

    cdk-code-validation {
        width: 278px;
    }
}
