<div class="h-100 w-100 d-flex flex-column align-items-center justify-content-between">
    <div class="mt-md-5 d-flex flex-column-reverse flex-md-row">
        <div class="qr-code d-none d-md-flex flex-column align-items-center justify-content-center p-5">
            <illustration-create-new-password></illustration-create-new-password>
        </div>

        <div class="login d-flex flex-column justify-content-center p-5">
            <h3>{{ 'RESET_PASSWORD' | translate }}</h3>
            <cdk-create-password (passwordValidation)="validatePassword($event)" (submitEvent)="submit()" (passwordEvent)="updatePassword($event)"></cdk-create-password>

            <button
                type="submit"
                class="btn mt-4 btn-primary"
                [cdkLoadingButton]="isLoading"
                [disabled]="!isPasswordValid"
                (click)="sendPassword()"
                #button
            >
                <cdk-spinner>{{ 'RESET_PASSWORD' | translate }}</cdk-spinner>
            </button>
        </div>
    </div>
</div>