@import "variables";
@import "em";

.qr-code {
    border-right: 1px solid $support-8;
}

.login {
    width: 100%;
    text-align: center;

    @media (min-width: 768px) {
        width: 365px;
        text-align: left;
    }

    h3 {
        color: var(--fonts-high, #DFDFDF);
        font-size: to-em(30);
        font-weight: 700;
    }

    p {
        color: $emphasis-low;
        font-size: to-em(14);
        font-weight: 600;
    }

    app-button {
        text-align: center;
    }
}
