<div class="h-100 w-100 d-flex flex-column align-items-center justify-content-between">
    <div class="mt-md-5 d-flex flex-column flex-md-row">
        <div class="qr-code d-none d-md-flex flex-column align-items-center justify-content-center p-5">
            <illustration-reset-password></illustration-reset-password>
        </div>

        <div class="login d-flex flex-column justify-content-center p-5">
            <h3>{{ 'RESET_PASSWORD' | translate }}</h3>
            <p class="m-0">{{ 'ENTER_YOUR_ACCOUNT_EMAIL' | translate }}</p>
            
            <form [formGroup]="form" class="d-flex flex-column align-items-center" (submit)="sendCode()">
                <div class="row-form right-icon w-100">
                    <input type="email" cdkInputValidation formControlName="email" />
                    <label>{{ 'EMAIL' | translate }}</label>
    
                    <small *ngIf="email && email.touched && email.errors">
                        <span *ngIf="email && email.errors['required']">{{ 'EMAIL_REQUIRED' | translate }}</span>
                        <span *ngIf="email && email.errors['email']">{{ 'IVALID_EMAIL' | translate }}</span>
                    </small>
                </div>
    
                <button
                    type="submit"
                    class="btn mt-4 btn-primary w-100"
                    [cdkLoadingButton]="isLoading"
                    [disabled]="email && email.invalid"
                >
                    <cdk-spinner>{{ 'SEND_ME_CODE' | translate }}</cdk-spinner>
                </button>

                <app-button class="mt-3 w-100" label="{{ 'BACK_TO_LOGIN' | translate }}" leftIcon="bi bi-chevron-left" (click)="back()"></app-button>
            </form>
        </div>
    </div>
</div>