@import "em";

.qr-code {
    border-right: 1px solid var(--support-8);
}

.login {
    width: 100%;

    @media (min-width: 768px) {
        width: 415px;
        text-align: left;
    }

    button {
        word-break: break-all !important;
    }

    i {
        color: var(--emphasis-low);
        cursor: pointer;
    }

    a {
        color: var(--emphasis-low);
        font-size: to-em(11);
        font-weight: 600;
        line-height: to-em(12);
        margin-top: 5px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    p {
        color: var(--emphasis-low);
        font-size: to-em(14);
        font-weight: 600;
    }
}
