@import "variables";
@import "em";

.qr-code {
    border-right: 1px solid $support-8;
}

.login {
    width: 100%;

    @media (min-width: 768px) {
        width: 365px;
        text-align: left;
    }

    i {
        color: $emphasis-low;
        cursor: pointer;
    }

    a {
        color: $emphasis-low;
        font-size: to-em(11);
        font-weight: 600;
        line-height: to-em(12);
        margin-top: 7px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    p {
        color: $emphasis-low;
        font-size: to-em(14);
        font-weight: 600;
    }
}
