@import "em";

div {
    text-align: center;
}

i {
    font-size: to-em(80);
    color: var(--primary);
}

h3 {
    color: var(--emphasis-high);
    font-size: to-em(30);
    font-weight: 700;
    line-height: to-em(40);
}

p {
    color: var(--emphasis-low);
    font-size: to-em(14);
    font-weight: 600;
    line-height: to-em(20);
}

button {
    max-width: 365px;
}